{% extends "layout.html" %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <span class="navbar-brand">
        Heim
      </span>

      <div class="justify-content-md-center" id="location-switcher">
        <div class="d-flex">
          <div class="btn-group">
            {% for location in locations %}
              <a class="btn btn-outline-light btn-sm {% if location.id == current_location_id %}active{% endif %}" href="/{{ location.id }}/">
                {{ location.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/logout/" class="nav-link">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
