{% extends "layout.html" %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
    <div class="container-fluid">
      <span class="navbar-brand">
        Heim
      </span>

      <div class="justify-content-md-center" id="location-switcher">
        <div class="d-flex">
          <div class="btn-group">
            {% for location in locations %}
              <a class="btn btn-outline-light btn-sm {% if location.id == current_location.id %}active{% endif %}" href="/{{ location.id }}/">
                {{ location.name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/logout/" class="nav-link">Log out</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    <div class="row">
      {# Forecast card #}
      <div class="col-12 col-md-6 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Forecast for {{ current_location.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Updated at ...</h6>
            <p class="card-text">This is WIP, some content will come here</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
