{% extends "layout.html" %}

{% block body %}
<main class="container">
  <form class="col-md-4 offset-md-4" method="POST">
    <div class="text-center mb-3 mt-3">
      <div class="rounded-circle" style="height:100px;width:100px;background-color:lightgray;display:inline-block;"></div>
    </div>

    {% for message in get_messages(request) %}
      <div class="{{ message.css_class }}">{{ message.message }}</div>
    {% endfor %}

    <!-- Email input -->
    <div class="mb-3 form-floating">
      <input
        type="email"
        name="username"
        id="email"
        autocomplete="username"
        class="form-control"
        required
      />
      <label class="form-label" for="email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="mb-3 form-floating">
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="current-password"
        class="form-control"
        required
      />
      <label class="form-label" for="password">Password</label>
    </div>


    <!-- Submit button -->
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </div>
  </form>
</main>
{% endblock %}

