name: CI

on: push

env:
  PYTHON_VERSION: "3.14"

jobs:
  linters:
    name: "${{ matrix.target }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["lint", "typecheck"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup project
        uses: ./.github/actions/setup-project
      - name: Run ${{ matrix.target }}
        run: make ${{ matrix.target }}
  pytest:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: heim
          POSTGRES_USER: heim
          POSTGRES_PASSWORD: heim
    env:
      # Postgres config
      PGHOST: localhost
      PGDATABASE: heim
      PGUSER: heim
      PGPASSWORD: heim
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup project
        uses: ./.github/actions/setup-project
      - name: Ensure Postgres is ready
        run: for i in {1..5}; do pg_isready && s=0 && break || s=$? && sleep 1; done; (exit $s)
      - name: Run pytest
        run: pytest -v --cov=heim --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
